#table {
    border-spacing: 70px 0px;
}

#left_td {
    text-align: right;
    padding: 10px;
}
#right_td {
    text-align: left;
}
.ssn {
    width:71px;
}
#bottom_button {
    display: block;
    align: center;
}