/* "회원가입" */
#title_result {
    font-weight: bold;
    font-size: 30px;
}
#sub_title_result {
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#container_result {
    width:1000px;
    margin:auto;

}
/* 회색 틀 */
.form_border_result_full {
    padding:3%;
    height: 500px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    margin-bottom: 30px;
}
/* 회색 틀 */
.form_border_result {
    padding:3%;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    margin-bottom: 30px;
}
/* 왼쪽 div */
#left_form_result {
    float: left;
    height:60vh;
    width: 45%;
}
/* "당선자" 글씨 옆에 당선자 출력 */
.print_winner {
    margin-top: 20px;
}
/* 왕관 이미지 */
.crown_image {
    margin-left: 20px;
    float: left;
    width: 50px;
    height: 50px;
}
/* "당선자" 글씨 출력 */
#big_print_winner {
    float: right;
    width: 77%;
    color: red;
    font-weight: bold;
    font-size: 40px;
}
/* 파이 차트 */
#pie_chart {
    width: 300px;
    height: 300px;
    margin-top: 120px;
    margin-left: 80px;
}
/* 오른쪽 div */
#right_form_result {
    overflow: auto;
    float: right;
    height:60vh;
    width: 45%;
}
/* 각 입력 전체 틀 */
.each_form_result {
    width: 100%;
    display: inline-block;
    margin: 0% 0% 5%;
    font-size:17px;
}
/* 오른쪽 위 제목 출력 */
.article_result_title {
    font-size: 17px;
    float: left;
}
/* 오른쪽 위 내용 출력 */
.article_result_content {
    font-size: 17px;
    font-weight: bold;
    float: right;
}
/* [득표율] 자체 출력 */
.sub_title_each_result {
    font-size: 17px;
}
/* 당선자 출력 */
.winner_sub_content {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-left: 7px;
}
/* 당선자 이외 출력 */
.sub_content {
    font-size: 17px;
    font-weight: bold;
    margin-left: 7px;
}