/* 전체 화면 */
.Outer_V {
    height:100vh;
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    background-color:rgb(167, 244, 229);
}
/* 실제 창 */
.Inter_V {
    height:500px;
    width:600px;
}
/* 버튼 공통 CSS */
.Button_V {
    font-size:20px;
    font-weight:bold;

    border:0;
    outline:0;
    border-radius: 5px;
    background-color:rgb(91, 223, 198);
}
/* ID, PWD 디자인 버튼 */
#mark_V {
    margin:5px;
    height:40px;
    width:75px;
}
/* '입장' 버튼 */
#loginButton_V {
    height:40px;
    width:100px;
}
/* '회원가입' 버튼 */
#SignUpButton_V {
    position:absolute;
    right:100px;
    bottom:100px;

    height:40px;
    width:200px;
}
/* 입력 텍스트필드 */
.input_V {
    height:40px;
    width:300px;

    border:0;
    outline:0;
    border-radius: 5px;
}