/* 전체 화면 */
.Outer_M {
    height:100vh;
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    background-color:rgb(255, 186, 186);
}
/* 실제 창 */
.Inter_M {
    height:500px;
    width:480px;
}
/* ~~~로 입장하기 */
#Login_Title_M {
    font-size:45px;
    font-weight:bold;
}
/* 버튼 공통 CSS */
.Button_M {
    font-size:25px;
    font-weight:bold;

    border:0;
    outline:0;
    border-radius:5px;
    background-color:rgb(255, 139, 139);
}
/* ID, PWD 디자인 버튼 */
#mark_M {
    height:40px;
    width:120px;
    margin-right:5px;

    float:left;
}
/* '입장' 버튼 */
#loginButton_M {
    height:45px;
    width:120px;
}
/* '선거개설' 버튼 */
#SignUpButton_M {
    position:absolute;
    right:100px;
    bottom:100px;

    height:45px;
    width:240px;
}
/* 입력 텍스트필드 */
.input_M {
    height:40px;
    width:350px;

    border:0;
    outline:0;
    border-radius: 5px;

    float:left
}
