/* "회원가입" */
#title_candidate {
    font-weight: bold;
    font-size: 30px;
}

#container_candidate {
    width:1000px;
    margin:auto;

}
/* 회색 틀 */
#form_border_candidate {
    padding:3%;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    margin-bottom: 30px;
}
/* 왼쪽 div */
#left_form_candidate {
    float: left;
    height:60vh;
    width: 45%;
}
/* 오른쪽 div */
#right_form_candidate {
    overflow: auto;
    float: right;
    height:60vh;
    width: 45%;
}
/* 중간 선 */
#middle_line_candidate {
    float:left;
    height:55vh;
    width:1px;
    margin-left:4.7%;
    background-color:rgb(189, 189, 189);
}
/* 아래 div : "회원가입"버튼 있는 아래쪽 div */
#reg_button_candidate {
    clear:both;
    text-align:center;
}
/* 각 입력 전체 틀 */
.each_form_candidate {
    width: 100%;
    display: inline-block;
    margin: 0% 0% 5%;
    font-size:17px;
}
/* 입력 항목 이름 */
.article_candidate {
    float:left;
    width: 30%;

    text-align:right;
    font-size:17px;
}
/* 입력 폼 */
.input_form_candidate {
    width: 45%;
    float:left;
    margin: 0% 0% 0% 2%;
    padding: 0% 0% 0% 2%;
}
/* 주민등록번호 입력 폼 */
.ssn_candidate {
    width: 21.25%;
    padding: 0% 0% 0% 2%;
}
/* 뒤에 margin 필요한 특수 article */
#backmargin_article_candidate {
    margin: 0% 2% 0% 0%;
}
/* 헤당 페이지 버튼 근본디자인 */
.candidate_Button {
    font-weight:bold;

    border:0;
    outline:0;
    border-radius: 5px;
}
/* "후보자 등록" 버튼 */
#requestCandidate {
    height:45px;
    width:140px;
    font-size:20px;
    background-color:rgb(91, 223, 198);
    cursor:pointer;
}