#title_viewCandidate {
    font-weight: bold;
    font-size: 30px;
}

/* 회원가입 및 공간 */
#outer_form_viewCandidate {
}
#container{
    width:1000px;
    position: relative;
    margin:auto;
}

/* 회색 틀 */
#form_border_viewCandidate {
    padding:5%;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    margin-bottom:30px;
}

/*승인완료 버튼*/
#finish_button_viewCandidate{
    height:30px;
    width:80px;
    font-size:15px;
    color:rgb(255,255,255);
    background-color:rgb(79, 83, 88);
    float:center;
}

/*승인거절 버튼*/
#reject_button_viewCandidate{
    height:30px;
    width:80px;
    font-size:15px;
    background-color:rgb(231, 76, 60);
    float:center;
    cursor:pointer;
}

/*승인요청 버튼*/
#request_button_viewCandidate{
    float:center;
    height:30px;
    width:80px;
    font-size:15px;
    background-color:rgb(52, 152, 219);
    cursor:pointer;
}

/* 왼쪽 div */
#left_form_viewCandidate {
    float: left;
    height:20vh;
    width: 45%;
}

/* 오른쪽 div */
#right_form_viewCandidate {
    float: right;
    height:20vh;
    width: 45%;
}

/* 중간 선 */
#middle_line_viewCandidate{
    float:left;
    height:17vh;
    width:1px;
    margin-left:4.7%;
    background-color:rgb(189, 189, 189);
}

#bottom_form{
    clear:both;
    padding:3%;
}
/* 아래 div : "회원가입"버튼 있는 아래쪽 div */
#bottom_viewCandidate {
    clear:both;
    text-align:center;
}

/* 각 입력 전체 틀 */
.each_form_viewCandidate {
    width: 100%;
    display: inline-block;
    margin: 0% 0% 5%;
    font-size:15px;
}

.each_form_viewCandidate2 {
    width: 100%;
    display: inline-block;
    margin: 0% 0% 0%;
    font-size:5px;
}

/* 입력 항목 이름 */
.article_viewCandidate {
    float:left;
    width: 100%;
    text-align:left;
    font-size:18px;
}
.article_viewCandidate2 {
    float:left;
    width: 30%;
    text-align:left;
    font-size:18px;
}

/* 헤당 페이지 버튼 근본디자인 */
.viewCandidate_Button {
    font-weight:bold;
    border:0;
    outline:0;
    border-radius: 5px;
    margin: 5px;
}

.introduce{
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    width: 95%;
    height:90px;
    margin-top:30px;
    font-size:16px;
    padding:2%;
}