.Home_Manage {
    height:100vh;
    width:50%;

    float:left;

    text-align:center;
    background-color:rgb(255, 186, 186);
}
.Home_Vote {
    height:100vh;
    width:50%;

    float:left;

    text-align:center;
    background-color:rgb(167, 244, 229);
}