#form_border_voterModify {
    text-align: center;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    padding-bottom: 15px;
}
#modify_button_voterModify {
    height:40px;
    width:80px;
    margin-right: 10px;

    float:right;

    font-size:15px;
    font-weight:bold;
    background-color:rgb(91, 223, 198);
}
#cancel_button_voterModify {

    height:40px;
    width:80px;
    margin-right: 20px;

    float:right;

    font-size:15px;
    font-weight:bold;
    background-color:#BDBDBD;
}
.inner_left_voterModify {
    width: 50%;
    float: left;
    text-align: right;
    margin-right: 15px;
    font-size: 20px;
}
.inner_right_voterModify {
    text-align: left;
    margin-top: 10px;
}
.ssn_voterModify {
    width: 90px;
}
#candidateModify_button_voterModify {
    height:40px;
    width:170px;
    margin-right: 20px;

    float:right;

    font-size:15px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    background-color:rgb(64, 64, 64);
}
.changePWD_Button {
    margin-left: 15px;
    font-size:15px;
    font-weight:bold;
    color:rgb(255, 255, 255);
    background-color:rgb(64, 64, 64);
}
/* 해당 페이지 버튼 근본디자인 */
.voterModify_Button {
    font-weight:bold;

    border:0;
    outline:0;
    border-radius: 5px;
    cursor:pointer;
}
#pwdNotEqualVoterModify {
    color:red;
    margin-left: 380px;
}
#pwdEqualVoterModify {
    color:green;
    margin-left: 380px;
}