#title_mainadmin {
    font-weight: bold;
    font-size: 30px;
}

/* 회원가입 및 공간 */
#outer_form_mainadmin {
}
#container{
    width:1000px;
    position: relative;
    margin:auto;
}

/* 회색 틀 */
#form_border_mainadmin {
    padding:3%;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
}

/*후보자 정보 창*/
#form_border_mainadmin2 {
    overflow: auto;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    height:180px;
    width :75%;
    float:left;
}

/*후보자 한 세트*/
.form_view_candidate{
    padding:1%;
    height:30px;
    width:97.71%;
    color:black;
    border-radius: 10px;
    border:1px solid #BDBDBD;
}

/* 후보자 개수 숫자 */
.Count_mainAdmin {
    width:10%;
    font-size:20px;
    height:30px;
    float:left;
}

/* 후보자 이름 */
.candidate_mainAdmin {
    width:99%;
    height:30px;
    font-size:20px;
    front-weight:bold;
}

/*승인여부버튼 둘 공간*/
#candidate_button{
    height:30px;
    width:25%;
    float:right;
    font-size:17px;
}

/*승인완료 버튼*/
#finish_button{
    height:28px;
    width:80px;
    font-size:15px;
    color:rgb(255,255,255);
    background-color:rgb(79, 83, 88);
    cursor:pointer;
    float:right;}

/*승인거절 버튼*/
#reject_button{
    height:28px;
    width:80px;
    font-size:15px;
    background-color:rgb(211, 211, 211);
    cursor:pointer;
    float:right;}

/*승인요청 버튼*/
#request_button{
    height:28px;
    width:80px;
    font-size:15px;
    background-color:rgb(255, 139, 139);
    cursor:pointer;
    float:right;}

/* 왼쪽 div */
#left_form_mainadmin {
    float: left;
    height:20vh;
    width: 45%;
}

/* 오른쪽 div */
#right_form_mainadmin {
    float: right;
    height:20vh;
    width: 48%;
}

/* 중간 선 */
#middle_line_mainadmin{
    float:left;
    height:30vh;
    width:1px;
    margin-left:4.7%;
    background-color:rgb(189, 189, 189);
}

/* 아래 div : "회원가입"버튼 있는 아래쪽 div */
#reg_button_mainadmin {
    clear:both;
    text-align:right;
}

/* 각 입력 전체 틀 */
.each_form_mainadmin {
    width: 100%;
    display: inline-block;
    margin: 0% 0% 5%;
    font-size:5px;
}

/* 입력 항목 이름 */
.article_mainadmin {
    float:left;
    width: 26%;
    text-align:right;
    font-size:15px;
}

/* 후보자 등록 기간 항목 이름*/
.article_mainadmin {
    float:left;
    width: 26%;
    margin: 0% 0% 0% 2%;
    text-align:right;
    font-size:15px;
}
/* 입력 폼 */
.input_form_mainadmin {
    width: 70%;
    float:left;
    margin: 0% 0% 0% 2%;
    padding: 0% 0% 0% 2%;
    color:black;
}
/* 날짜 입력 폼 */
.input_form_mainadmin2 {
    width: 68%;
    float:right;
    margin: 0% 0% 0% 2%;
    padding: 0% 0% 0% 2%;

}
/*선거번호출력*/
.election_num_view{
    font-size:15px;
}

/* 주민등록번호 입력 폼 */
.ssn_signup {
    width: 21.25%;
    padding: 0% 0% 0% 2%;
}
.phone_signup {
    width: 15%;
    padding: 0% 0% 0% 2%;
}
/* 뒤에 margin 필요한 특수 article */
#backmargin_article_signup {
    margin: 0% 2% 0% 0%;
}
/* 헤당 페이지 버튼 근본디자인 */
.mainadmin_Page_Button {
    font-weight:bold;

    border:0;
    outline:0;
    border-radius: 5px;
}
/* "회원가입" 버튼 */
#requestSignup_admain {
    height:40px;
    width:80px;
    font-size:15px;
    background-color:rgb(255, 139, 139);
    cursor:pointer;
    float:right;
}
#cancel_admin {
    height:40px;
    width:80px;
    font-size:15px;
    background-color:rgb(155, 155, 155);
    cursor:pointer;
    float:right;
    margin-left:10px;
}
#register_possible_voter {
    height:40px;
    width:200px;
    font-size:18px;
    color: white;
    background-color:rgb(64, 64, 64);
    cursor:pointer;
    float:right;
    margin-bottom:5px;
}
#result_mainAdmin {
    height:85px;
    width:200px;
    font-size:25px;
    background-color:rgb(255, 139, 139);
    cursor:pointer;
    float:right;
    margin-bottom:2px;
}
#delete_election {
    height:40px;
    width:80px;
    font-size:15px;
    color:rgb(255,255,255);
    background-color:rgb(130, 0, 0);
    cursor:pointer;
    float:right;
}

#button_site{
    position: absolute;
    padding:1%;
    width :25%;
    float:right;
    right:0;
    bottom:0;
}